.nav {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: auto;
    padding-left: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 11;
    font-size: 2rem;
    padding-right: 40px;

}

.nav-item .active  {
    color: rgb(161, 29, 102);
}

.nav-item {
    display: inline;
    color: white;
    margin-left: 1.5rem;
}

.nav-item:hover {
    color: rgb(161, 29, 102);
    cursor: pointer;
}

// //Media queries 800px - iphone landscape
@media only screen and (max-width: 500px) {
    .nav {
        font-size: 1.5rem;
    }
}

// //Media queries 800px - iphone landscape
@media only screen and (max-width: 300px) {
    .nav {
        font-size: 1.4rem;
    }

    ul.nav-items {
        padding-left: 15px;
    }
}
